{{>side}}
{{#if message}}
<div class="alert alert-info">{{message}}</div>
{{/if}}
{{#if message}}
<div class="alert alert-info " style=" background-color: white;"><i class="fa-solid fa-face-laugh-beam fa-bounce" style="color: blue;"></i> {{message}}
</div>
{{/if}}