<!DOCTYPE html>
<html>

<head>
    <title>Forgot Password</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            padding: 0;
            height: 100vh;
            justify-content: center;
            align-items: center;
        }

        form {
            background-color: #ffffff;
            padding: 34px 11px 37px 60px;
            border-radius: 5px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
            width: 80%;
            max-width: 400px; 
            margin-left: 37%;
        }

        h2 {
            text-align: center;
            
        }

        label {
            display: block;
            margin-bottom: 5px;
            font-weight: bold;
        }

        input[type="email"] {
            width: 83%;
            padding: 10px;
            margin-bottom: 10px;
            border: 1px solid #ccc;
            border-radius: 3px;
        }

        input[type="submit"] {
            background-color: #007bff;
            color: #ffffff;
            padding: 10px 20px;
            border: none;
            border-radius: 3px;
            cursor: pointer;
            width: 89%;
        }

        input[type="submit"]:hover {
            background-color: #0056b3;
        }

        /* Media query for screens smaller than 600px */
        @media (max-width: 600px) {
            form {
                width: 90%;
                padding: 1.5rem;
            }
        }
    </style>
</head>

<body>
    <p>Email Send Successfully</p>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</body>

</html>
