<!DOCTYPE html>
<html lang="en">

<head>
    <title>Forgot Password</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            padding: 0;
            height: 100vh;
            justify-content: center;
            align-items: center;
        }

        form {
            background-color: #ffffff;
            padding: 34px 11px 37px 60px;
            border-radius: 5px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
            width: 80%;
            max-width: 400px;
            margin-left: 37%;
        }

        h2 {
            text-align: center;
        }

        label {
            display: block;
            margin-bottom: 5px;
            font-weight: bold;
        }

        input[type="email"] {
            width: 83%;
            padding: 10px;
            margin-bottom: 10px;
            border: 1px solid #ccc;
            border-radius: 3px;
        }

        input[type="submit"] {
            background-color: #007bff;
            color: #ffffff;
            padding: 10px 20px;
            border: none;
            border-radius: 3px;
            cursor: pointer;
            width: 89%;
        }

        input[type="submit"]:hover {
            background-color: #0056b3;
        }

        /* Media query for screens smaller than 600px */
        @media (max-width: 600px) {
            form {
                width: 90%;
                padding: 1.5rem;
            }
        }

        .message-container {
            margin-top: 20px;
            text-align: center;
        }

        .alert {
            padding: 15px;
            margin-bottom: 20px;
            border: 1px solid transparent;
            border-radius: 5px;
        }

        .alert-info {
            color: #31708f;
            background-color: #d9edf7;
            border-color: #bce8f1;
        }
    </style>
</head>

<body>
    <h2>Forgot Password</h2>

    <div class="message-container">
        {{#if message}}
        <div class="alert alert-info">
            <i class="fa-solid fa-face-laugh-beam fa-bounce" style="color: #2906db;"></i>
            {{message}}
        </div>
        {{/if}}
    </div>

    <form action="/forgot-password" method="POST">
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required><br><br>
        <input type="submit" value="Reset Password">
    </form>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</body>

</html>
