<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Document</title>
    <link rel="stylesheet" href="css/newStyle.css">
    <script src="https://kit.fontawesome.com/a7d20ff54b.js" crossorigin="anonymous"></script>
<style>
        /* Light color for even rows */
        .table-custom tbody tr:nth-child(even) {
            background-color: #ffff;
        }

        /* Dark color for odd rows */
        .table-custom tbody tr:nth-child(odd) {
            background-color: rgb(244, 244, 247);
        }

        .breadcrumdiv {
            margin-left: 4px;


        }

        ul.breadcrumb {

            list-style: none;
            padding-bottom: 5px;
            padding-top: 15px;

        }

        ul.breadcrumb li {
            display: inline;
            font-size: 15px;
        }

        ul.breadcrumb li+li:before {
            padding: 8px;
            color: black;
            content: ">\00a0";
        }

          ul.breadcrumb li a {
      color: #4f46e5;
      text-decoration: none;
    }
      ul.breadcrumb li:last-child a {
      color: #64748b;
      /* Change the color to the grey color you prefer */

    }

        ul.breadcrumb li a:hover {

            text-decoration: underline;
        }

        #line {
            padding-bottom: 5px;
            padding-right: 10px;
            padding-left: 12px;
            height: 40px;
            /* Set the height of the container div */

            display: flex;
            align-items: center;
            /* Vertically center the content */
            justify-content: center;
            /* Horizontally center the content */
        }

        #line-content {
            /* font-size: 24px; /* Adjust the font size for the content */
            /*  font-weight: 0px;  /* Adjust the font weight for a thinner appearance */
            background-color: #cbd5e1;
            width: 1px;
            height: 70%;
        }
        


    </style>
</head>

<body id="body-pd">
    {{>side}}
    <div class="store mt-3 col-md-12 pt-5" style="display: flex;justify-content:space-between">
        {{!-- <div class="cross-section">
            <h3>Add Store</h3>
        </div> --}}

         <div class="row-md-4 subtitle d-flex justify-content-start align-items-center w-75"
                style="margin-top: 5px;">
                <div class="block">
                    <h4 class="flex-grow-1 " style="font-size: 24px color: #1e293b;
    font-weight:800;">Add Store
                </div>
                <div id="line">
                    <span id="line-content"></span> <!-- Content inside the div -->
                </div>
                <div class="breadcrumdiv">
                    <ul class="breadcrumb">
                        <li><a href="#"> Home</a></li>
                        <li><a href="#">Master</a></li>
                        <li><a href="#">Store List</a></li>
                        <li><a href="#">Add Store</a></li>

                    </ul>
                </div>
            </div>


        <a href="/storeList" style="text-decoration: none;margin-right:20px ;margin-top: 25px;" > <i class="fa fa-xmark text-dark fa-2x"></i></a>
    </div>
    <form action="/createStore" method="post">
        <section>
            <div class="height-100 ">
                {{#if message}}
                <div class="alert alert-info">{{message}}</div>
                {{/if}}


                <div class="col-md-6 main-table-data container main-table-box" style="margin-top: 0px;">
                    <div class="col-md-12 title-title ">
                    </div>

                    <div class="col-md-12 mt-3">
                        <div class="row">
                            <h4 class="h4-title p-0 pb-2">Store Detail</h4>
                            <div class="col-md-12">
                                <div class="row">

                                    <label for="" class="p-0 formlabel"> Store Name</label>


                                    <input id="form17" placeholder="&#127963;   Enter Store Name" name="storeName"
                                        class="md-textarea form-control" required></input>

                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="row mt-3">
                        <div class="col-md-12">
                            <div class="row">

                                <label for="form17" class="formlabel p-0">Store Address</label>


                                <textarea id="form17" name="storeAddress" class="md-textarea form-control"
                                    placeholder="&#9751;   Enter Store Address" rows="1" cols="5" required></textarea>
                                <div class="container" style="padding: 20px 0px;">
                                    <div class="row">
                                        <div class="col-md-12 form-buttons p-0 m-0 d-flex">
                                            <button class="button-15" role="button" type="submit"
                                                style="margin:10px">Save</button>

                                            <button class="button-15" role="button" type="reset"
                                                style="margin:10px 0px">Cancel</button>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>


                </div>

                {{!-- <div class="handler-container">
                    <div class="col-md-12 textarea-container-first pt-4">
                        <div class="md-form mb-4  active-pink-textarea-2">
                            <label for="form17" class="formlabel">Store Name</label>
                            <input id="form17" name="storeName" class="md-textarea form-control"></input>
                        </div>
                    </div>
                    <div class="col-md-12 textarea-container-second pt-4">
                        <div class="md-form mb-4  active-pink-textarea-2">
                            <div class="row">
                                <div class="col-md-3">
                                    <label for="form17" class="formlabel">Store Address</label>
                                </div>
                                <div class="col-md-3">
                                    <textarea id="form17" name="storeAddress" class="md-textarea form-control" rows="1"
                                        cols="5"></textarea>
                                </div>
                            </div>


                        </div>
                    </div>
                </div> --}}

            </div>
            </div>
        </section>
    </form>
</body>

</html>