<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/newStyle.css">
  <title>State Master</title>
  <link rel="stylesheet" href="css/order.css">
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

  <style>
    body {
      background-color: rgb(244, 244, 247) !important;
    }

    .sup-int[type='text'] {
      padding-left: 30px;
    }

    .table-custom tbody tr:nth-child(even) {
      background-color: #ffff;
    }


    /* Dark color for odd rows */
    .table-custom tbody tr:nth-child(odd) {
      background-color: rgb(244, 244, 247);
    }

    .tr-head th {
      text-align: center;
    }

    .breadcrumdiv {
      margin-left: 4px;
      margin-top: 0px;

    }

    ul.breadcrumb {

      list-style: none;

      padding-top: 15px;

    }

    ul.breadcrumb li {
      display: inline;
      font-size: 15px;
    }

    ul.breadcrumb li+li:before {
      padding: 8px;
      color: black;
      content: ">\00a0";
    }

    ul.breadcrumb li a {
      color: #4f46e5;
      text-decoration: none;

    }

    ul.breadcrumb li a:hover {
      color: #0808f0;
      text-decoration: underline;
    }

    #formdata {
      box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
      width: 60%;
      padding: 8px 20px 18px 20px;
      background-color: white;


    }

    #formdata h5 {
      padding-top: 30px;

    }

    #billing-form h1 {
      text-align: left;
      font-size: 29px;
    }

    /* Media query for mobile devices */
    @media (max-width: 576px) {
      .breadcrumdiv {
        margin-top: 30px;
      }

      ul.breadcrumb li {
        font-size: 14px;
      }

      #formdata {

        width: 100%;

      }

      .input-field::placeholder {

        padding-left: 30px !important;
      }

      .input-field {
        padding-left: 30px !important;
        position: relative !important;
      }


      /* Add more mobile-specific styles here */
    }

    #line {
      padding-bottom: 5px;
      padding-right: 10px;
      padding-left: 12px;
      height: 40px;
      /* Set the height of the container div */

      display: flex;
      align-items: center;
      /* Vertically center the content */
      justify-content: center;
      /* Horizontally center the content */
    }

    #line-content {
      /* font-size: 24px; /* Adjust the font size for the content */
      /*  font-weight: 0px;  /* Adjust the font weight for a thinner appearance */
      background-color: #cbd5e1;
      width: 1px;
      height: 70%;
    }

    ul.breadcrumb li:last-child a {
      color: grey;
      /* Change the color to the grey color you prefer */

    }
  </style>
</head>

<body id="body-pd">

  {{>side}}
  <div class=" m-0" style="padding: 10px;">

    <div class="col-md-12 subtitle d-flex justify-content-between align-items-center w-100"
      style="margin-top: 50px;     padding-bottom: 0px;">

      <div class="me-two d-flex justify-content-center align-items-center">

        <div class="block">
          <h4 class="flex-grow-1 listtocon " style="font-size: 24px; margin-top:0px ;  margin-bottom: 18px;">State Master 
        </div>
        <div id="line">
          <span id="line-content"></span> <!-- Content inside the div -->
        </div>
        <div class="breadcrumdiv">
          <ul class="breadcrumb">
            <li><a href="#"> Home</a></li>
            <li><a href="#">State Master List</a></li>
            <li><a href="#">State Master</a></li>

          </ul>
        </div>
      </div>

      {{!-- <a href="/supplierMasterList" style="text-decoration: none;margin-right:20px ;margin-top: 25px;"> <i
          class="fa fa-xmark text-dark fa-2x"></i></a> --}}
      <a href="/stateMasterList" style="text-decoration: none;margin-right:20px ;margin-top: 25px;"> <i
          class="fa fa-xmark text-dark fa-2x"></i></a>
    </div>
  </div>
  <div>
    {{#if message}}
    <div class="alert alert-info">{{message}}</div>
    {{/if}}

    <form id="statemasterform"  action="/createStateMaster" method="post">
      {{!-- <h1>Order Billing</h1> --}}
      <div id="formdata">
        <h4>State Details</h4>
        <label for="Code" class="label-block">Code  <span class="text-danger">*</span>:</label>
        <div class="sup-containe" style="position: relative;">
          <input type="text" id="Code" name="Code" class="sup-int" placeholder="Enter State Code" required>
          <div class="sup-icon" style="position:absolute; left:10px;top:15%">
            <i style='font-size:12px' class='fas'>&#xf121;</i>
          </div>
        </div>



        <label for="Name" class="label-block">Name  <span class="text-danger">*</span>:</label>
        <input type="text" id="Name" name="Name" placeholder="&#46820; Enter State Name" required pattern="[A-Za-z ]+"
          title="Please enter only letters">

    


        <label for="Display_order">Display Order:</label>
        <input type="number" id="Display_order" name="DisplayOrder" placeholder="Enter Display Order"  >


        <label for="Status" class="label-block">Status:</label>
        <select id="Status" name="Status">
          <option value="Active" selected>Active</option>
          <option value="Inactive">Inactive</option>
        </select>

      </div>

  </div>
  </div>

  <button type="submit"
    style="border-radius: 10px; margin-top:30px; margin-bottom:30px; background-color:#4723d9;">Submit</button>

  </form>



  </div>




</body>
{{!-- <script>
  document.getElementById("statemasterform").addEventListener("submit", function () {
    //e.preventDefault();

    // Collect form data
    const formData = {
      Code: document.getElementById("Code").value,
      Name: document.getElementById("Name").value,
      Display_Order: parseFloat(document.getElementById("Display_order").value || 0), 
      Status: document.getElementById("Status").value,
    };

    document.getElementById("Display_order").value = formData.CreditDays;

    // Log form data to the console (you can replace this with your backend submission logic)
    console.log("Form Data:", formData);



    fetch('/createStateMaster', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
      },
      body: JSON.stringify(formData),
    })
      .then(response => response.json())
      .then(data => {
        console.log('Data sent:', data);

      })
      .catch(error => {
        console.error('Error:', error);
      });
  });


  // to convert the userinput to uppercase
  function convertToUpperCase(input) {
    input.value = input.value.toUpperCase();
  }

  // Ensure Credit Limit and Credit Days default to 0 on page load
  document.addEventListener("DOMContentLoaded", () => {
    document.getElementById("Display_order").value = 0;
  });

</script> --}}