<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/newStyle.css">
  <title>Supplier Master</title>
  <link rel="stylesheet" href="css/order.css">
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

  <style>
    body {
      background-color: rgb(244, 244, 247) !important;
    }

    .sup-int[type='text'] {
      padding-left: 30px;
    }

    .table-custom tbody tr:nth-child(even) {
      background-color: #ffff;
    }


    /* Dark color for odd rows */
    .table-custom tbody tr:nth-child(odd) {
      background-color: rgb(244, 244, 247);
    }

    .tr-head th {
      text-align: center;
    }

    .breadcrumdiv {
      margin-left: 4px;
      margin-top: 0px;

    }

    ul.breadcrumb {

      list-style: none;

      padding-top: 15px;

    }

    ul.breadcrumb li {
      display: inline;
      font-size: 15px;
    }

    ul.breadcrumb li+li:before {
      padding: 8px;
      color: black;
      content: ">\00a0";
    }

    ul.breadcrumb li a {
      color: #4f46e5;
      text-decoration: none;

    }

    ul.breadcrumb li a:hover {
      color: #0808f0;
      text-decoration: underline;
    }

    #formdata {
      box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
      width: 60%;
      padding: 8px 20px 18px 20px;
      background-color: white;


    }

    #formdata h5 {
      padding-top: 30px;

    }

    #billing-form h1 {
      text-align: left;
      font-size: 29px;
    }

    /* Media query for mobile devices */
    @media (max-width: 576px) {
      .breadcrumdiv {
        margin-top: 30px;
      }

      ul.breadcrumb li {
        font-size: 14px;
      }

      #formdata {

        width: 100%;

      }

      .input-field::placeholder {

        padding-left: 30px !important;
      }

      .input-field {
        padding-left: 30px !important;
        position: relative !important;
      }


      /* Add more mobile-specific styles here */
    }

    #line {
      padding-bottom: 5px;
      padding-right: 10px;
      padding-left: 12px;
      height: 40px;
      /* Set the height of the container div */

      display: flex;
      align-items: center;
      /* Vertically center the content */
      justify-content: center;
      /* Horizontally center the content */
    }

    #line-content {
      /* font-size: 24px; /* Adjust the font size for the content */
      /*  font-weight: 0px;  /* Adjust the font weight for a thinner appearance */
      background-color: #cbd5e1;
      width: 1px;
      height: 70%;
    }

    ul.breadcrumb li:last-child a {
      color: grey;
      /* Change the color to the grey color you prefer */

    }
  </style>
</head>

<body id="body-pd">

  {{>side}}
  <div class=" m-0" style="padding: 10px;">

    <div class="col-md-12 subtitle d-flex justify-content-between align-items-center w-100"
      style="margin-top: 50px;     padding-bottom: 0px;">

      <div class="me-two d-flex justify-content-center align-items-center">

        <div class="block">
          <h4 class="flex-grow-1 listtocon " style="font-size: 24px; margin-top:0px ;  margin-bottom: 18px;">Supplier
            Master
        </div>
        <div id="line">
          <span id="line-content"></span> <!-- Content inside the div -->
        </div>
        <div class="breadcrumdiv">
          <ul class="breadcrumb">
            <li><a href="#"> Home</a></li>
            <li><a href="#">Master</a></li>
            <li><a href="#">Supplier Master</a></li>

          </ul>
        </div>
      </div>

      {{!-- <a href="/supplierMasterList" style="text-decoration: none;margin-right:20px ;margin-top: 25px;"> <i
          class="fa fa-xmark text-dark fa-2x"></i></a> --}}
      <a href="/suppliersMasterList" style="text-decoration: none;margin-right:20px ;margin-top: 25px;"> <i
          class="fa fa-xmark text-dark fa-2x"></i></a>
    </div>
  </div>
  <div>
    {{#if message}}
    <div class="alert alert-info">{{message}}</div>
    {{/if}}

    <form id="supplierForm">
      {{!-- <h1>Order Billing</h1> --}}
      <div id="formdata">
        <h4>Supplier Details</h4>
        <label for="Code" class="label-block">Code:</label>
        <div class="sup-containe" style="position: relative;">
          <input type="text" id="Code" name="Code" class="sup-int" placeholder="Enter Supplier Code" required>
          <div class="sup-icon" style="position:absolute; left:10px;top:15%">
            <i style='font-size:12px' class='fas'>&#xf121;</i>
          </div>
        </div>



        <label for="Name" class="label-block">Name:</label>
        <input type="text" id="Name" name="Name" placeholder="&#128100; Enter Name" required pattern="[A-Za-z ]+"
          title="Please enter only letters">

        <label for="ContactPersonName" class="label-block">Contact Person Name:</label>
        <input type="text" id="ContactPersonName" name="ContactPersonName" placeholder="&#128100; Enter Contact Person"
          pattern="[A-Za-z ]+" title="Please enter only letters" required>




        <label for="ContactNo">Contact No:</label>
        <input type="number" id="ContactNo" name="ContactNo" placeholder="&#x260E; Enter Contact Number" required
          maxlength="10" title="Please enter a 10-digit phone number">

        <label for="AadharNo">Aadhar No:</label>
        <input type="number" id="AadharNo" name="AadharNo" placeholder="&#9751;  Enter Aadhar Number"
          minlength="10" maxlength="12" title="Please enter a 12-digit Aadhar Number">



        <label for="Pincode">Pincode:</label>
        <input type="number" id="Pincode" name="Pincode" placeholder="&#9951;  Enter Pincode"  maxlength="6"
          title="Please enter a 6-digit Pin Code Number">




        <label for="Email">Email:</label>
        <input type="email" id="Email" name="Email" placeholder="&#x2709;  Enter Email" required>

        <label for="GSTNo">GST No:</label>
        <input type="text" id="GSTNo" name="GSTNo" placeholder="&#9951; Enter GST No." 
          oninput="convertToUpperCase(this)" minlength="15" maxlength="15" title="Please enter a 15-digit GST Number">



        <label for="PAN">PAN:</label>
        <input type="text" id="PAN" name="PAN" placeholder="&#9751; Enter PAN" 
          oninput="convertToUpperCase(this)" minlength="10" maxlength="10" title="Please enter a 10-digit PAN Number">


        <label for="CreditLimit">Credit Limit:</label>
        <input type="number" id="CreditLimit" name="CreditLimit" placeholder="Enter Credit Limit" step="0.01" 
          min="0">

        <label for="CreditDays">Credit Days:</label>
        <input type="number" id="CreditDays" name="CreditDays" placeholder="Enter Credit Days"  min="0">


        <label for="Status" class="label-block">Status:</label>
        <select id="Status" name="Status">
          <option value="Active" selected>Active</option>
          <option value="Inactive">Inactive</option>
        </select>

        <label for="Address">Address:</label>
        <div>
          <textarea id="Address" name="Address" rows="4" placeholder="Enter Address" cols="72" 
            style="width: 100%;"></textarea><br><br>
        </div>
      </div>

  </div>
  </div>

  <button type="submit"
    style="border-radius: 10px; margin-top:30px; margin-bottom:30px; background-color:#4723d9;">Submit</button>

  </form>



  </div>




</body>
<script>
  document.getElementById("supplierForm").addEventListener("submit", function () {
    //e.preventDefault();

    // Collect form data
    const formData = {
      Code: document.getElementById("Code").value,
      Name: document.getElementById("Name").value,
      ContactPersonName: document.getElementById("ContactPersonName").value,
      ContactNo: document.getElementById("ContactNo").value,
      Email: document.getElementById("Email").value,
      Address: document.getElementById("Address").value,
      Pincode: document.getElementById("Pincode").value,
      GSTNo: document.getElementById("GSTNo").value,
      PAN: document.getElementById("PAN").value,
      AadharNo: document.getElementById("AadharNo").value,
      CreditLimit: parseFloat(document.getElementById("CreditLimit").value || 0), // Set default value to 0
      CreditDays: parseInt(document.getElementById("CreditDays").value || 0), // Set default value to 0
      Status: document.getElementById("Status").value,
    };
    // Display zero if the user hasn't entered any value for Credit Limit and Credit Days
    document.getElementById("CreditLimit").value = formData.CreditLimit;
    document.getElementById("CreditDays").value = formData.CreditDays;

    // Log form data to the console (you can replace this with your backend submission logic)
    console.log("Form Data:", formData);



    fetch('/createSuplierdata', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
      },
      body: JSON.stringify(formData),
    })
      .then(response => response.json())
      .then(data => {
        console.log('Data sent:', data);

      })
      .catch(error => {
        console.error('Error:', error);
      });
  });

  /*
  ////contact,addhar number validation
   const contactNoInput = document.getElementById('ContactNo');
    const AadharNoInput = document.getElementById('AadharNo');
    const GSTNoInput = document.getElementById('GSTNo');
      const PANNoInput = document.getElementById('PAN');
      const PinCodeNoInput = document.getElementById('Pincode');
      
    
   
  
      contactNoInput.addEventListener('input', () => {
      const value = contactNoInput.value;
      const valid = /^[0-9]{0,10}$/.test(value);
  
      if (valid || value === '') {
        contactNoInput.setCustomValidity('');
      } else {
        contactNoInput.setCustomValidity('Please enter a maximum of 10 digits for the contact number');
      }
    });
  
   
  
    AadharNoInput.addEventListener('input', () => {
      const valid = /^[0-9]{12}$/.test(AadharNoInput.value);
  
      if (valid) {
        AadharNoInput.setCustomValidity('');
      } else {
        AadharNoInput.setCustomValidity('Please enter a 12-digit Aadhar number');
      }
    });
  
  PANNoInput.addEventListener('input', () => {
      const valid = /^[A-Z]{5}[0-9]{4}[A-Z]{1}$/.test(PANNoInput.value);
  
      if (valid) {
          PANNoInput.setCustomValidity('');
      } else {
          PANNoInput.setCustomValidity('Please enter a valid PAN number (e.g., ABCDE1234F)');
      }
  });
  
  
  
  /*GSTNoInput.addEventListener('input', () => {
          const valid = GSTNoInput.checkValidity();
  
          if (valid) {
              GSTNoInput.setCustomValidity('');
          } else {
              GSTNoInput.setCustomValidity('Please enter a 15-digit GST Number');
          }
      });
  */

  /*
  GSTNoInput.addEventListener('input', () => {
      const valid = /^[0-9]{2}[A-Z]{5}[0-9]{4}[A-Z]{1}[0-9A-Z]{2}[0-9A-Z]{1}[Z]{1}[0-9A-Z]{1}$/.test(GSTNoInput.value);
  
      if (valid) {
          GSTNoInput.setCustomValidity('');
      } else {
          GSTNoInput.setCustomValidity('Please enter a valid 15-digit GST number (e.g., 22ABCDE1234F1Z5)');
      }
  });
  */

  // to convert the userinput to uppercase
  function convertToUpperCase(input) {
    input.value = input.value.toUpperCase();
  }

  // Ensure Credit Limit and Credit Days default to 0 on page load
  document.addEventListener("DOMContentLoaded", () => {
    document.getElementById("CreditLimit").value = 0;
    document.getElementById("CreditDays").value = 0;
  });

</script>